In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df_0 = pd.read_csv('experiment/result/0.csv')
df_0

,Floyd Warshall,Improved Relaxation Floyd Warshall,Improved Selection Floyd Warshall,Johnson,Dijkstra |V| Times
0,320500,176800,269601,227799,184901
1,8971799,813301,2436001,2960499,803800
2,18513600,3058300,11867601,2550501,2181699
3,58674801,1334100,3361600,2108800,3519301
4,34537700,1930999,4919600,1977499,856200
5,71282900,1306501,1989401,2812400,729899
6,119421601,1573200,2474001,2468500,850901
7,198627299,2118500,3758200,3566500,1182600
8,276052800,2681201,4606101,4515399,1486300
9,416000100,6606900,6443000,5658701,1882800

In [23]:
algo_list = df_0.columns
other_algo_list = algo_list.drop('Floyd Warshall')

In [24]:
for algo in other_algo_list:
    df_0[algo + ' (%)'] = (df_0[algo] / df_0['Floyd Warshall']) * 100
df_0

,Floyd Warshall,Improved Relaxation Floyd Warshall,Improved Selection Floyd Warshall,Johnson,Dijkstra |V| Times,Improved Relaxation Floyd Warshall (%),Improved Selection Floyd Warshall (%),Johnson (%),Dijkstra |V| Times (%)
0,320500,176800,269601,227799,184901,55.163807,84.118877,71.076131,57.691420
1,8971799,813301,2436001,2960499,803800,9.065083,27.151756,32.997830,8.959184
2,18513600,3058300,11867601,2550501,2181699,16.519208,64.102071,13.776364,11.784305
3,58674801,1334100,3361600,2108800,3519301,2.273719,5.729206,3.594047,5.997977
4,34537700,1930999,4919600,1977499,856200,5.590989,14.244145,5.725624,2.479030
5,71282900,1306501,1989401,2812400,729899,1.832839,2.790853,3.945406,1.023947
6,119421601,1573200,2474001,2468500,850901,1.317350,2.071653,2.067046,0.712518
7,198627299,2118500,3758200,3566500,1182600,1.066570,1.892086,1.795574,0.595386
8,276052800,2681201,4606101,4515399,1486300,0.971264,1.668558,1.635701,0.538411
9,416000100,6606900,6443000,5658701,1882800,1.588197,1.548798,1.360264,0.452596